body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;

   
}

@media screen and (max-width: 800px) {
  body {
    padding: 10px 10px;
  }
}

a {
    text-decoration: none;
    color: black;
}

.rotate{
    animation: rotation 3s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

* {
    box-sizing: border-box;
}
